.navbar {
  .navbar-collapse {
    flex-grow: 0;
  }
}

.sidebar-heading {
  a {
    text-decoration: none;
    color: $gray-900;
  }
}

form {
  .form_errors,
  input.error,
  select.error,
  textarea.error {
    border: 1px solid red !important;
  }

  .form_errors {
    display: none;
    color: red;
    font-style: bold;

    &.populated {
      display: block;
    }
  }
}

.accordion {
  .accordion-header {
    &.is-invalid {
      border: 1px solid $danger;
    }
  }
}