.valve-adjustment {
  .valve,
  .shim {
    &.in-spec {
      color: $success;
    }
    &.min-spec {
      color: $warning;
    }
    &.out-of-spec {
      color: $danger;
    }
    &.unknown-spec {
      color: $gray-500;
    }
    &.old-shim {
      text-decoration: line-through;
    }
  }
}