<turbo-frame id="valve-shims-adjust">
  <div data-controller="valve-adjustment">
    <% if @valve_adjustment.pending? %>
      <div class="alert alert-info" role="alert">
        Confirm that these values are desired and click "Complete Adjustment," or "Pick my shims" if you want to fine-tune
        the adjustment.
      </div>
    <% end %>
    <%= render "valve_specs" %>
    <%= render "adjustment_table" %>
    <%= render "adjustment_actions" %>
  </div>
</turbo-frame>
